<h1>Person Details</h1>

<p>
	<strong>Name:</strong>
	<%= @person.name %>
</p>

<p>
	<strong>CPF:</strong>
	<%= @person.cpf %>
</p>

<p>
	<strong>Birthday:</strong>
	<%= @person.birthday %>
</p>

<p>
	<strong>Gender:</strong>
	<% if @person.gender %>
		M
	<% else%>
		F
	<% end %>
</p>